.titulo {
    padding: 10px;
    font-size: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    word-spacing: 2px;
    letter-spacing: 2px;
    padding-left: 15px; 
    color: aliceblue
}

.logo {
    width: 65px;
    height: 60px;
    background-color: aliceblue;
    border: solid black;
    display: flex;
    align-items: center;
}

.text{
    margin:0;
}

p{
    margin: 0px;
    width: 100px;
    padding-left: 15px;
}

.register-container {
    width: 400px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-60%);
}

.register-form {
    background-color: white;
    border: solid #2c3e50;
    width: 370px;
    height: 465px;
    margin: auto auto;
    padding-top: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    background-color: #fffeff;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 20.5V18H0v-2h20v-2H0v-2h20v-2H0V8h20V6H0V4h20V2H0V0h22v20h2V0h2v20h2V0h2v20h2V0h2v20h2V0h2v20h2v2H20v-1.5zM0 20h2v20H0V20zm4 0h2v20H4V20zm4 0h2v20H8V20zm4 0h2v20h-2V20zm4 0h2v20h-2V20zm4 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2z' fill='%23000000' fill-opacity='0.07' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.register-image{
    padding-left: 70px;
}

.register-button{
    padding: 22px;
    display:flex;
    justify-content: space-between;
}

p{
    width:100px
}

