<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/5/flatly/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/buscador.css') }}">
    <title>Inventario Global</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <label class="navbar-brand" href="#">
                <div class="logo">
                    <img src="https://raw.githubusercontent.com/NickCracker/Global/main/assets/Global.png" style="width: 60px;">
                    <a class="titulo" href="/busqueda">Global Pharma</a>
                </div>
            </label>
            <form class="d-flex" action="/busqueda/buscar/1" method="POST" style="padding-right: 15px;">
                <input class="form-control me-sm-2" type="text" placeholder="" name="entrada">
                <button class="btn btn-info my-2 my-sm-0" type="submit">Buscar</button>
            </form>
        </div>
        </div>
    </nav>
    <div class="buscador-container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td class="head-item" >Codigo</td>
                    <td class="head-item" >Lote</td>
                    <td class="head-item" >Producto</td>
                    <td class="head-item" >Stock</td>
                    <td class="head-item" >Reserva</td>
                    <td class="head-item" >Disponible</td>
                    <td class="head-item" >Detalles</td>
                </tr>
            </thead>
            <tbody>
                {%for producto in productos.items %}
                <tr>
                    <td class="body-item" >{{ producto.codigo}}</td>
                    <td class="body-item" >{{ producto.lote }}</td>
                    <td class="body-item" >{{ producto.descripcion | title}}</td>
                    <td class="body-item" >{{ producto.stock | int}}</td>
                    <td class="body-item" >{{ producto.reserva | int}}</td>
                    <td class="body-item" >{{ (producto.stock - producto.reserva) | int }}</td>
                    <td class="body-item-button">
                        {% if "/" in producto.lote %}
                        <a href="/detalle/{{producto.codigo}}" class="btn btn-outline-primary">Detalle</a>
                        {% else %}
                        <a href="/detalle/{{producto.codigo}}/{{producto.lote}}" class="btn btn-outline-primary">Detalle</a>
                        {% endif %}
                        
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <footer class="final">    
            <ul>
                <li>
                    {% if normal %}
                        <a class="paginacion-item" href="/busqueda/1">Inicio</a>
                    {% else %}
                        <a class="paginacion-item" href="/busqueda/buscar/{{entrada}}/1">Inicio</a>
                    {% endif %}
                </li>
                <li>
                    {% if normal %}
                        {% if page-5>0 %}
                            <a class="paginacion-item" href="/busqueda/{{page - 5}}"><<</a>
                        {% else %}
                            <a class="paginacion-item" href="/busqueda/1"><<</a>
                        {% endif %}
                    {% else %}
                        {% if page-5>0 %}
                            <a class="paginacion-item" href="/busqueda/buscar/{{entrada}}/{{page - 5}}"><<</a>
                        {% else %}
                            <a class="paginacion-item" href="/busqueda/buscar/{{entrada}}/1"><<</a>
                        {% endif %}
                    {% endif %}
                </li>
                <li>
                    {% if normal %}
                        {% if prev %}
                            <a class="paginacion-item" href="/busqueda/{{page - 1}}"><</a>
                        {% else %}
                            <a class="paginacion-item" href="/busqueda/1"><</a>
                        {% endif %}
                    {% else %}
                        {% if prev %}
                            <a class="paginacion-item" href="/busqueda/buscar/{{entrada}}/{{page - 1}}"><</a>
                        {% else %}
                            <a class="paginacion-item" href="/busqueda/buscar/{{entrada}}/1"><</a>
                        {% endif %}
                    {% endif %}                        
                </li>

                <li>
                    <a class="paginacion-item" href="#">{{page}}</a>
                </li>

                <li>
                    {% if normal %}
                        {% if next %}
                            <a class="paginacion-item" href="/busqueda/{{page + 1}}">></a>
                        {% else %}
                            <a class="paginacion-item" href="/busqueda/{{pages}}">></a>
                        {% endif %}
                    {% else %}
                        {% if next %}
                            <a class="paginacion-item" href="/busqueda/buscar/{{entrada}}/{{page + 1}}">></a>
                        {% else %}
                            <a class="paginacion-item" href="/busqueda/buscar/{{entrada}}/{{pages}}">></a>
                        {% endif %}
                    {% endif %}
                </li>

                <li>
                    {% if normal %}
                        {% if page+5>pages %}
                            <a class="paginacion-item" href="/busqueda/{{pages}}">>></a>
                        {% else %}
                            <a class="paginacion-item" href="/busqueda/{{page + 5}}">>></a>
                        {% endif %}
                    {% else %}
                        {% if page+5>pages %}
                            <a class="paginacion-item" href="/busqueda/buscar/{{entrada}}/{{pages}}">>></a>
                        {% else %}
                            <a class="paginacion-item" href="/busqueda/buscar/{{entrada}}/{{page + 5}}">>></a>
                        {% endif %}
                    {% endif %}
                </li>
                <li>
                    {% if normal %}
                        <a class="paginacion-item" href="/busqueda/{{pages}}">Final</a>
                    {% else %}
                        <a class="paginacion-item" href="/busqueda/buscar/{{entrada}}/{{pages}}">Final</a>
                    {% endif %}
                </li>
            </ul>
        </footer>
    </div>
</body>
</html>