<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/login.css') }}">
    <link rel="stylesheet" href="https://bootswatch.com/5/flatly/bootstrap.min.css">
    <title>Inventario Global</title>
</head>
    <!--
    <nav class="navbar navbar-expand-lg" style="background-color:rgba(44,62,80,0.8); margin:0; padding:5px; border-bottom:3px solid black;border-top:3px solid black">
        <div class="container-fluid">
            <div class="navbar-brand">
                <img src="https://raw.githubusercontent.com/NickCracker/Global/main/assets/only-logo-claro.png" style="width:40px; margin:0; padding-bottom:1px;">
                <a style="padding-top:20px"><label class="global">GL</label><label class="o" style="color:#00a1f1;">O</label><label class="pharma">BAL</label></a>
            </div>
          </div>
        </div>
    </nav>
    -->
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <label class="navbar-brand">
                <div class="logo">
                    <img src="https://raw.githubusercontent.com/NickCracker/Global/main/assets/Global.png" style="width: 60px;">
                    <label class="titulo" style="padding-left: 15px;color:aliceblue;">Global Pharma</label>
                </div>
            </label>
          </div>
        </div>
    </nav>
    
    <body>
        <div class="login-container">
            <div class="login-form">
                <form action="/", method="POST">
                    <div class="login-image">
                        <img src="https://raw.githubusercontent.com/NickCracker/Global/main/assets/Global.png" style="width:110px;"><br>
                    </div>
                    {{ form.csrf_token }}
                    <label class="text">{{form.usuario.label}}</label><br>
                    <p>{{form.usuario()}}</p>
                    <label class="text">{{form.contraseña.label}}</label><br>
                    <p>{{form.contraseña()}}</p>
                    <div class="login-button">
                        <button type="submit" class="btn btn-info">Ingresar</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="registro">
            <p>¿No tienes cuenta? Registrate <a href="/registro">aqui</a></p>
        </div>
    </body>
    <footer style="color:aliceblue;background-color:rgba(44,62,80,0.8);position:fixed ; bottom:0; width:100%">
        <div class="registro">
            <p style="color: black;">¿No tienes cuenta? Registrate <a href="/registro">aqui</a></p>
        </div>
        &copy; Esto es un footer
    </footer>
</html>



