<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/5/flatly/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/registro.css') }}">
    <title>Inventario Global</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg" style="background-color:#2c3e50">
        <div class="container-fluid">
            <label class="navbar-brand">
                <div class="logo">
                    <img src="https://raw.githubusercontent.com/NickCracker/Global/main/assets/Global.png" style="width: 60px;">
                    <label class="titulo" style="padding-left: 10px;color:aliceblue;">Global pharma</label>
                </div>
            </label>
          </div>
        </div>
    </nav>
    <body>
        <div class="register-container">
            <div class="register-form">
                <form action="/registro", method="POST">
                    <div class="register-image">
                        <img src="https://raw.githubusercontent.com/NickCracker/Global/main/assets/Global.png" style="width: 110px; margin-bottom:5px;margin-top:5px"><br>
                    </div>
                    
                        <label class="text">Nombre</label><br>
                        <p>{{form.nombre(size=25)}}</p>
                        <label class="text">Apellido</label><br>
                        <p>{{form.apellido(size=25)}}</p>
                        <label class="text">Usuario</label><br>
                        <p>{{form.usuario(size=25)}}</p>
                        <label class="text">Correo</label><br>
                        <p>{{form.correo(size=25)}}</p>
                    
                    <div class="register-button">
                        <button type="submit" class="btn btn-info" style="margin-right: 35px;">Registrarse</button>
                        <a class="btn btn-secondary" href="/" style="margin-left: 5px;">Volver</a>
                    </div>
                </form>
            </div>
        </div>
    </body>
    <footer style="color:aliceblue; background-color:#2c3e50;position:fixed ; bottom:0; width:100%">
    </footer>
</body>
</html>